.qu {
  padding-top: 80px;
  padding-left: 400px;
}

.questio1 {
  padding-top: 20px;
  padding-left: 5px;
}

.toggle-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-answer-container {
  width: 1050px;
  padding: 10px;
  margin: 50px;
  margin-left: 140px;
  border-radius: 5px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.question {
  cursor: pointer;
}

.expanded {
  height: auto;
}

.side {
  padding-left: 600px;
}

.view-more {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  color: blue;
  padding-bottom: 4rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .qu {
    padding-top: 70px;
    padding-left: 10px;
  }

  .question-answer-container {
    width: 92%;
    margin-left: 15px;
  }
  .side {
    padding-left: 130px;
  }
}
