.carousel .slider-wrapper {
  width: 80% !important;
  padding-top: 60px;
}
.slid {
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .carousel .slider-wrapper {
    width: 90% !important;
    padding-top: 10px;
  }
  .slid {
    height: 120px !important;
  }
}
